<div align='center' class="page-header" id='containerforabout'>
  <h2>Made by a dog lover <small>For dog lovers</small></h2>
  <img src="/img/about.jpg" />
</div>
<!-- <div class='containerforabout'>
</div> -->