<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>(❍ᴥ❍ʋ)</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Leaflet API  -->
    <link rel="stylesheet" href="/leaflet-0.7.3/leaflet.css" />
    <script src="/leaflet-0.7.3/leaflet.js"></script>

    <!-- My CSS Override  -->
    <link rel="stylesheet" type="text/css" href="/style.css">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-paw"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-angle-double-right"></i></a>
            <li class="sidebar-brand">
                <a href="#top" font="bold">DogScore</a>
            </li>
            <li>
                <a href="#top">Home</a>
            </li>
            <li>
                <a href="#call-to-action">Specific Searches</a>
            </li>
            <li>
                <a href="#map">Map</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>DogScore</h1>
            <h3>Find dog friendly parks and more, in your area.</h3>
            <br>
            <a href="#call-to-action" class="btn btn-dark btn-lg">Start Your Search</a>
        </div>
    </header>


    <!-- jQuery command for buttons toggling classes -->
    <script>
        $(document).ready(function () {
            $('.allButTheFirst').on('change', function () {
               if ($(this).is(':checked'))

                 $('#thereCanOnlyBeOne').closest('label').removeClass('active');
                 $('#thereCanOnlyBeOne').attr('checked', false);
            });
            $('#thereCanOnlyBeOne').on('change', function () {
               if ($(this).is(':checked'))
                 $('.allButTheFirst').closest('label').removeClass('active');
                 $('.allButTheFirst').attr('checked', false);
            });
        })
    </script>
    <!-- Checkboxes/Buttons for search -->
    <aside class="call-to-action bg-primary" id='call-to-action'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <h3>Refine Your Search</h3>
               <form class="navbar-form" id='searchForm'>
                    <div align='center' class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success active" style='center'>
                        <input name='searchParams' value='parks,hotels,petstore,vet' type="checkbox" id='thereCanOnlyBeOne' checked> Everything
                        </label>
                        <label class="btn btn-success">
                        <input name='searchParams' value='hotels' type="checkbox" class='allButTheFirst'> Hotels
                        </label>
                        <label class="btn btn-success">
                        <input name='searchParams' value='petstore' type="checkbox" class='allButTheFirst'> Pet Stores
                        </label>
                        <label class="btn btn-success">
                        <input name='searchParams' value='dog_parks' type="checkbox" class='allButTheFirst'> Parks
                        </label>
                        <label class="btn btn-success">
                        <input name='searchParams' value='vet' type="checkbox" class='allButTheFirst'> Vets
                      </label>
                    </div>
                    </div>
                    <div class="form-group text-center col-lg-12">
                        <input name='location' type="text" class="form-control" placeholder="Search an Address" required>
                        <br />
                        <button type="submit" class="btn btn-lg btn-dark" id='checkBtn'>WOOF!</button>
                    </div>
            </form>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section>

         <script>

        </script>

        <div style="height:500px;" id="map" class="dark"></div>
        <script>
                var businessData= <%- JSON.stringify(allYelpResults.results.businesses) %>;
                var latitude= <%= allYelpResults.results.region.center.latitude %>;
                var longitude= <%= allYelpResults.results.region.center.longitude %>;
                var map = L.map('map', {
                }).setView([latitude, longitude], 13);
                L.tileLayer('http://{s}.tiles.mapbox.com/v3/cestlou.kfelc2a3/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                    maxZoom: 18
                }).addTo(map);
                map.scrollWheelZoom.disable();
                var markers = new L.FeatureGroup();
                $(function() {
                    $('#searchForm').on('submit', function(event) {
                        event.preventDefault();
                        var formData = $(this).serialize();
                        $.ajax({
                            type: 'GET',
                            url: '/?json=true',
                            data: formData
                        }).done(function(response) {

                            map.removeLayer(markers);
                            markers = new L.FeatureGroup();

                            var businessData = response.results.businesses;


                            for (var i=0; i < businessData.length; i++) {
                                if (!businessData[i].phone) {
                                    console.log(businessData[i].phone);
                                    businessData[i].phone = 'Phone Number Unavailable!' } else
                                    {businessData[i].phone = businessData[i].phone}
                                // console.log(businessData[i]);
                                var imgLink = "<a href='" + businessData[i].url + "'>" + businessData[i].url + "</a>";
                                var marker = L.marker([businessData[i].location.coordinate.latitude, businessData[i].location.coordinate.longitude]).bindPopup(businessData[i].name + '<br>' +businessData[i].phone  + '<br>' + imgLink + '<br>' + businessData[i].snippet_text);

                                markers.addLayer(marker);
                            }
                            map.addLayer(markers);
                            map.panTo([businessData[0].location.coordinate.latitude, businessData[0].location.coordinate.longitude]);
                        });
                    })
                })
                // for (var i=0; i < businessData.length; i++) {
                //     if (!businessData[i].phone) {
                //         console.log(businessData[i].phone);
                //         businessData[i].phone = 'Phone Number Unavailable!'
                //     };
                    // console.log(typeof businessData[i].phone);

                    // var imgLink = "<a href='" + businessData[i].url + "'>" + businessData[i].url + "</a>";
                    // L.marker([businessData[i].location.coordinate.latitude, businessData[i].location.coordinate.longitude]).addTo(map).bindPopup('Name: ' + businessData[i].name + '<br>' + 'Telephone: ' +businessData[i].phone  + '<br>' + 'Yelp Page: ' + imgLink + '<br>' + businessData[i].snippet_text);
                // }
        </script>
    </section>

    <!-- Footer -->
    <footer id='contact'>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Alison "Luna" Alvarez</strong></h4>
                    <p>Seattle, WA</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">alisonrebeccarobb@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="http://linkedin.com/in/cestlou"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://github.com/CestLou"><i class="fa fa-github-square fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; DogScore 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>

    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper ").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
</body>
</html>