h1, h3 {
	color:#fff;
	font-family: 'Quicksand', sans-serif;
	text-shadow: 3px 3px 5px #666;
}

img {
	width: 50%;
	height: 50%;
}

footer {
	padding: 80px 0;
}

.call-to-action .btn {
	margin: 0px;
}

input {
	text-align:center;
}
.bg-primary {
	background-color: #BCCCB6;
}
body {
	font-family: 'Quicksand', sans-serif;
}

a {
	color:rgb(3, 127, 13);
	text-decoration: none;
}
a:hover{
	color:#BCCCB6;
}








